*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #fff;
    background-color: #0e0816;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%230a6572' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-size: 16px;
font-family: 'Oswald', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;

}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}

.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: 20px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

.showcase{
    width: 100%;
    height: 550px;
    background: url(img/abstract-particles-background-with-light-effect_1017-20135.jpg) no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0;
}
.title {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    font-size: 50px;
  }
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
    transition: all 700ms ease;
}
.btn:hover{
    opacity: .7;
    transform: translateY(-5%);
}

.new-cards{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 20px;


}
.articles{
    border: 1px solid rgb(88, 76, 153);
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
}
.new-cards img{
    width: 100%;
    height: 180px;

}
.new-cards h3{
    font-size: 15px;
    margin: 10px 0;
}

.new-cards a{
    padding-top: 5px;
    text-align: center;
    display: inline-block;
}
.new-cards a:hover{
    border-bottom: 2px solid #fff;
}

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: #c3143180;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36a1, #c314319c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b369a, #c3143181), url(img/red-lights-in-line-on-black-surface-158826.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
background-size: cover;
 margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;

}

.cards-banner-one p,
.cards-banner-one h2{
margin:  10px 0 20 0;
}

.cards-banner-two{
    width: 100%;
    height: 350px;
    background: #1b228680;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36a1, #14c3c39c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #481c689a, #561f9e81), url(img/red-lights-in-line-on-black-surface-158826.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
background-size: cover;
 margin-bottom: 40px;
}
.cards-banner-two .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;

}

.cards-banner-two p,
.cards-banner-one h2{
margin:  10px 0 20 0;
}
.social{
    margin: 50px;

}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.links a i{
    font-size: 3rem;
}
.fab{
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
 /* footer links */
 .footer-links{
     background-color: #2f3640;
     color: #616161;
     font-size: 12px;
     padding: 35px 0;

 }
 .footer-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }
 .footer-container ul{
     margin: 0 auto;
 }

 .footer-container ul li{
     line-height: 2.8;
 }
 .footer{
     background-color: #2f3640;
     color: #616161;
     font-size: 20px;
     padding: 20px 0;
     text-align: center;
     padding-bottom: 20px;
 }

 @media (max-width: 700px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0e0816;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

        .nav-main ul.nav-menu li{
            padding: 20px;
            font-size: 14px;
        }

        .nav-main ul.nav-menu-right{
            margin-right: 40px;
        }

     .new-cards{
         grid-template-columns: repeat(2, 1fr);
     }
     .cards-banner-one .content,
     .cards-banner-two .content{
         width: 80%;
     }
     .footer-links .footer-container{
         grid-template-columns: repeat(2, 1fr);
     }
 }
 @media (max-width: 500px){
     .new-cards{
         grid-template-columns: 1fr;
         margin: 20px 0;
     }
     .new-cards img{
         height: 270px;
     }
 }